.loadWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #00000099;
  backdrop-filter: blur(8px); 
  font-size: 32px;
  z-index: 2;
}
