@import "../node_modules/remixicon/fonts/remixicon.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v462-n-130-textureidea_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=9465282a2b0a375f4f5b120d7bbad882")
    no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

.i-c {
  display: grid;
  place-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f150;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Home */

.home,
.login,
.register,
.cabinet {
  min-height: 100vh;
  color: #ffffff;
  max-width: 1000px;
  margin: 0 auto;
}

.t-c {
  text-align: center;
}

/*  */

/* Navbar */

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 1.5rem;
  align-items: center;
  z-index: 2;
}

nav .nav_logo {
  color: #ffffff;
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
  transition: 0.4s ease-in-out;
  display: grid;
  align-items: center;
  line-height: 1;
  width: max-content;
}

nav .nav_logo:hover {
  color: #00000090;
}

nav .auth-options {
  width: max-content;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

nav .auth-options button {
  background-color: #ffffff70;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

nav .auth-options button:hover {
  box-shadow: 0 0 10px 3px #ffffff;
  color: #000000;
}

nav .auth-options button:focus {
  outline: none;
  color: #000000;
}

/*  */

/* Register */

.register .mt-2 {
  margin-top: 3rem;
}

.register .form {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  padding: 1.5rem 4rem;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  width: 50%;
}

.register .form .formGroup {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 4px;
}

.register .form .formGroup label {
  color: #000000;
  font-weight: 600;
  font-size: 20px;
}

.register .form .formGroup .inputForm {
  background-color: #ffffff;
  border-radius: 6px;
  border: none;
  box-shadow: 1px 2px 10px 3px #ffffff70;
  padding: 10px 1rem;
  font-weight: 600;
  font-size: 17px;
}

.register .form .formGroup .inputForm:focus {
  outline: none;
}

.register .form .btn {
  width: max-content;
  margin-left: auto;
}

.register .form .btn button {
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  border: none;
  border-radius: 6px;
  padding: 10px 1rem;
  box-shadow: 1px 2px 10px 3px #ffffff70;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.register .form .btn button:active {
  transform: scale(0.9);
}

.register .form .btn button:focus {
  outline: none;
  box-shadow: 5px 5px 1rem 2px #00000070;
}

.register .form .btn button:disabled {
  opacity: 0.5;
  cursor: no-drop;
}

.register .form .btn button:hover {
  transform: translateY(5px);
}

/*  */

/* Cabinet */

.cabinet {
  display: grid;
  place-items: center;
}

.cabinet .userCard {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 40% 55%;
  grid-auto-rows: 250px;
  justify-content: space-between;
  position: relative;
  color: #000000;
  width: 80%;
}

.cabinet .userCard .userImg {
  display: grid;
  place-items: center;
  background-color: #ffffff;
  border-radius: 10px 0 0 10px;
  position: relative;
}

.cabinet .userCard .userImg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.cabinet .userCard .userImg .editImage {
  position: absolute;
  top: 7.5px;
  right: 7.5px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background-color: #110303;
  border-radius: 50%;
}

.cabinet .userCard .userImg .editImage i {
  transition: 0.4s ease-in-out;
  color: #ffffff;
  font-size: 18px;
}

.cabinet .userCard .userImg .editImage:hover i {
  color: #2a9df4;
  font-size: 22px;
}

.cabinet .userCard .userData {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  padding: 2.5rem 0;
}

.cabinet .userCard .userData .name {
  font-size: 32px;
  font-weight: 700;
  color: #0f0f0f;
  line-height: 1.2;
}

.cabinet .userCard .userData .email {
  color: #ffffff;
  font-size: 18px;
}

.cabinet .userCard .userData ._id {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 18px;
}

.cabinet .userCard .userDetils {
  position: absolute;
  height: 85%;
  top: 50%;
  transform: translate(50%, -50%);
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cabinet .userCard .userDetils div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  color: #ffffff;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.cabinet .userCard .userDetils div:hover {
  background-color: #ffffff;
  color: #000000;
}

.cabinet .userCard .userDetils div i {
  transition: 0.4s ease-in-out;
}

.cabinet .userCard .userDetils div:hover i {
  transform: scale(1.5);
}

/*  */

@media all and (max-width: 992px) {
  .cabinet .userCard {
    margin-top: 4rem;
  }
}

@media all and (max-width: 768px) {
  .home,
  .login,
  .register {
    padding: 4rem 10px;
  }

  .register .mt-2 {
    margin-top: 0;
  }

  .cabinet .userCard {
    width: 85%;
    grid-template-columns: 1fr;
    height: 70%;
    margin-top: 4rem;
    justify-content: unset;
  }

  .cabinet .userCard .userImg {
    border-radius: 15px 15px 0 0;
  }

  .cabinet .userCard .userImg img {
    border-radius: 6px 6px 0 0;
  }

  .cabinet .userCard .userData {
    padding: 1.5rem;
  }

  .cabinet .userCard .userDetils {
    transform: translate(0, -50%);
    top: 100%;
    flex-direction: row;
    height: max-content;
    width: 100%;
  }

  .cabinet .userCard .userDetils div {
    width: 40px;
    height: 40px;
  }

  nav {
    padding: 1rem 10px;
  }

  nav .nav_logo {
    font-size: 28px;
    font-weight: 600;
  }

  nav .auth-options {
    grid-gap: 10px;
  }

  nav .auth-options button {
    padding: 9px;
    font-size: 12px;
  }

  .register .form {
    width: 80%;
    padding: 1.5rem 2.5rem;
  }
}

@media all and (max-width: 556px) {
  .register .form {
    width: 90%;
    padding: 1.5rem;
  }

  .register .form h1 {
    font-size: 24px;
    line-height: 1;
  }

  .register .form .formGroup label {
    font-size: 16px;
    font-weight: 500;
  }

  .register .form .formGroup .inputForm {
    padding: 10px;
    font-size: 14px;
  }

  .register .form .btn button {
    padding: 7px 10px;
    font-size: 14px;
  }

  .cabinet .userCard {
    width: 90%;
    height: 60%;
    grid-template-rows: 55% 45%;
  }

  .cabinet .userCard .userImg {
    border-radius: 8px 8px 0 0;
    position: relative;
  }

  .cabinet .userCard .userImg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .cabinet .userCard .userData {
    padding: 2rem 1rem;
  }

  .cabinet .userCard .userData .name {
    font-size: 18px;
  }

  .cabinet .userCard .userData .email,
  .cabinet .userCard .userData ._id {
    font-size: 14px;
  }
}
